.event-popover-container{
  padding: 10px;
}
.event-popover-ribbon{
  margin: -10px -10px 10px;
  font-size: 0.8rem;
  background: var(--ion-color-primary);
  padding: 3px;
}
.event-heading{
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.event-year{
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.event-summary{
  font-size: 0.8rem;
  font-weight: 400;
}
.event-toolbar{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
