.event-popover-container{
  padding: 20px;
}
.event-heading{
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.event-year{
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.event-summary{
  font-size: 0.8rem;
  font-weight: 400;
}
