.container{
  width: 100vw;
  display: flex;
  padding: 0;
  margin: 0;
}
.heading{
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 35px;
  background: var(--ion-color-primary);
  z-index: 1;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100vw;
  min-height: 100%;
  margin-top: 35px;;
}

.col-text{
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: 0.7vw;
}
.years{
  border-right: 1px solid var(--ion-color-step-150);
  text-align: center;
}
.continent{
  width: calc(100vw / 7);
  border-right: 1px solid var(--ion-color-step-150);
  text-align: center;
}
.year-row{
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  &:nth-child(even) {
    background: var(--ion-color-step-50);
  }
}
.year{
  padding: 15px 17px;
  border-right: 1px solid var(--ion-color-step-150);
}
.decade{
  border-top: 1px solid var(--ion-color-step-250);
  border-bottom: 1px solid var(--ion-color-step-250);
  .col-text{
    font-weight: 600;
  }
}
.events-container{
  width: calc(100vw / 7);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  border-right: 1px solid var(--ion-color-step-150) ;
}

